Repository privacysandbox/bidding-auction-servers: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, ps_vlog_123

Path conditions:
  terraform-fmt: any of: \.(tf|tfvars)$ and not (scp/) and not ((?x)^( bazel-(bin|out|testlogs|workspace)/.*| version\.txt| .*\.patch| builders/.*| services/inference_sidecar/common/builders/.*| services/inference_sidecar/modules/pytorch_v2_1_1/builders/.*| services/inference_sidecar/modules/tensorflow_v2_14_0/builders/.*| testing/functionaltest-system/.*| google_internal/kokoro/key/.* )$)
  ps_vlog_123: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^( bazel-(bin|out|testlogs|workspace)/.*| version\.txt| .*\.patch| builders/.*| services/inference_sidecar/common/builders/.*| services/inference_sidecar/modules/pytorch_v2_1_1/builders/.*| services/inference_sidecar/modules/tensorflow_v2_14_0/builders/.*| testing/functionaltest-system/.*| google_internal/kokoro/key/.* )$

Allow setting DNS records in seperate GCP project
  production/deploy/gcp/terraform/services/load_balancing/main.tf
  production/deploy/gcp/terraform/services/load_balancing/variables.tf
Due: terraform-fmt

Allow setting DNS records in seperate GCP project
  production/deploy/gcp/terraform/modules/buyer/service.tf
  production/deploy/gcp/terraform/modules/buyer/service_vars.tf
  production/deploy/gcp/terraform/modules/seller/service.tf
  production/deploy/gcp/terraform/modules/seller/service_vars.tf
  production/deploy/gcp/terraform/services/frontend_load_balancing/main.tf
  production/deploy/gcp/terraform/services/frontend_load_balancing/variables.tf
  production/deploy/gcp/terraform/services/load_balancing/main.tf
  production/deploy/gcp/terraform/services/load_balancing/variables.tf
Due: terraform-fmt

Support custom gcp ssl policies in frontend load balancer
  production/deploy/gcp/terraform/environment/demo/buyer/buyer.tf
  production/deploy/gcp/terraform/environment/demo/seller/seller.tf
  production/deploy/gcp/terraform/services/frontend_load_balancing/main.tf
  production/deploy/gcp/terraform/services/frontend_load_balancing/variables.tf
Due: terraform-fmt

Release 4.4.1 (2024-11-25)
  CHANGELOG.md
  services/common/chaffing/transcoding_utils.h
  services/common/compression/gzip.cc
  services/common/compression/gzip_test.cc
  version.txt
Due: ps_vlog_123

fix pb file path for envoy on tools/debug/README.md
  tools/debug/README.md
Due: none

Release 4.5.1 (2025-01-28)
  .pre-commit-config.yaml
  .pylintrc
  CHANGELOG.md
  WORKSPACE
  tools/cost_estimation/BUILD
  tools/cost_estimation/README.md
  tools/cost_estimation/cost.yaml
  tools/cost_estimation/cost_tool.py
  tools/cost_estimation/cost_tool_test.py
  tools/cost_estimation/estimator.py
  tools/cost_estimation/estimator_test.py
  tools/cost_estimation/main.py
  tools/cost_estimation/metrics_loader.py
  tools/cost_estimation/metrics_loader_test.py
  tools/cost_estimation/render.py
  tools/cost_estimation/render_test.py
  tools/cost_estimation/requirements_lock.txt
  tools/cost_estimation/sku.json
  tools/cost_estimation/sql_expr.py
  tools/cost_estimation/sql_expr_test.py
  tools/cost_estimation/utils.py
  tools/cost_estimation/utils_test.py
  version.txt
Due: none

Release 4.6.1 (2025-02-07)
  CHANGELOG.md
  third_party/common_repo.patch
  version.txt
Due: none

GCP Cloud Build - reset tfvars to default values
  production/packaging/gcp/cloud_build/cloud_build.auto.tfvars
Due: terraform-fmt

GCP Cloud Build : update readme
  production/packaging/gcp/cloud_build/README.md
Due: none

GCP Cloud Build : adding the "latest" tag to the push image
  production/packaging/gcp/lib_gcp_artifacts.sh
Due: none

update tools/debug scripts to use a pre-built image of bidding and auctions servers
  tools/debug/start_auction
  tools/debug/start_bfe
  tools/debug/start_bidding
  tools/debug/start_sfe
Due: none

update sync frequency to daily
  .github/workflows/sync_bidding_auction_repo.yaml
Due: none

add github actions to sync repo
  .github/workflows/sync_bidding_auction_repo.yaml
Due: none

update tools/debug scripts to use a pre-built image of bidding and auctions servers
  tools/debug/start_auction
  tools/debug/start_bidding
Due: none

Add terraform variables to force AWS availability zones
  production/deploy/aws/terraform/modules/buyer/service.tf
  production/deploy/aws/terraform/modules/buyer/service_vars.tf
  production/deploy/aws/terraform/services/networking/main.tf
  production/deploy/aws/terraform/services/networking/variables.tf
Due: terraform-fmt

Release 4.8.1 (2025-03-19)
  CHANGELOG.md
  docs/contributing.md
  services/bidding_service/BUILD
  services/bidding_service/bidding_main.cc
  services/seller_frontend_service/util/BUILD
  services/seller_frontend_service/util/buyer_input_proto_utils.cc
  services/seller_frontend_service/util/buyer_input_proto_utils_test.cc
  version.txt
Due: ps_vlog_123

Release 4.8.2 (2025-04-03)
  CHANGELOG.md
  WORKSPACE
  services/bidding_service/inference/inference_utils.cc
  third_party/common_repo_temp_fix.patch
  version.txt
Due: ps_vlog_123

add envoy to bfe and secure_invoke args processing fixes
  production/packaging/gcp/buyer_frontend_service/BUILD
  production/packaging/gcp/buyer_frontend_service/bin/envoy.yaml
  production/packaging/gcp/buyer_frontend_service/bin/init_server_basic
  tools/debug/common
  tools/secure_invoke/entrypoint.sh
Due: none

changes to entrypoint, remove positional params, env params is all what secure_invoke ge
  tools/secure_invoke/entrypoint.sh
Due: none

Update README.md: add deprecation warning.
  README.md
Due: none

Update README.md: tweak wording
  README.md
Due: none
